.card {
  margin: 10px 0;
}
.title_text {
  font-size: 1.2rem;
  font-weight: bold;
}
.category_text {
  font-size: 0.8rem;
}

.card_container {
  position: relative;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.avaReview {
  border-radius: 10px;
}

@media (max-width: 480px) {
  .card_image {
    width: 160px;
    height: 240px;
    border-radius: 10px;
  }
  .card_container {
    position: relative;
    left: 54vw;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 0;
  }
}
